*******************************************************
			Media Query
********************************************************/

/*Responsive part*/


/* Large Layout: 1600px. */

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
    body{background-color: yellow;}
}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    body{background-color: ;}


}



/* Medium Layout: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1279px) {
    body{background-color: blue;}
  
   

}





/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body{background-color: red;}



}





/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body{background-color: darkcyan;}
     

 
    
    
}





/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body{background-color: yellowgreen;}


    
}